# dependencies
/node_modules
/dist

# local env files
.local
.env.local
.env.*.local

# Vite-specific
.vite-inspect
.vite/# dependencies
/node_modules
/dist

# local env files
.local
.env.local
.env.*.local

# Vite-specific
.vite-inspect
.vite/